.clock_wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;

    .meridiem {
        margin: 0 5px 15px 0;
    }

    .clock {
        display: inline-block;
        font-size: 80px;
        margin: 0;
    }
}