.search_wrapper {
    width: 400px;
    height: 38px;
    display: flex;
    flex-flow: row nowrap;
    border: 2px solid #000;
    border-radius: 5px;
    box-sizing: border-box;

    div {
        width: 30px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            cursor: pointer;
        }

        &.gg {
            background-color: lightgray;
            color: blue;
        }

        &.nv {
            background-color: green;
            color: white;
        }
    }

    button {
        border: none;
        background: none;
        display: inline-block;
        color: #555;

        &:hover {
            cursor: pointer;
        }
    }

    input {
        width: 100%;
        padding: 8px;
        border: none;
        font-size: 16px;

        &:focus {
            outline: none;
            border: none;
        }
    }
}